body {
  background: #23232B;
  color: #FFFFFF;
  font-family: 'Nunito', sans-serif;
}

.container {
  margin-top: 50px;
  margin-bottom: 50px;
}

.rectangle {
  max-width: 1000px;
}

img {
  margin-top: 20px;
  margin-bottom: 20px;
  width: inherit;
}

#command {
  font-family: "Courier New", sans-serif;
}
