{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title> Mikhael Natalnael - Story 10 PPW </title>

    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <h2> Story 10 PPW - HTTP Service and High-Availability </h2>
      <h2> Mikhael Natalnael - 1806147041 </h2>
      <br>

      <div class="rectangle">
        <p> Story kali ini membahas tentang High-Availability dari suatu website. Ketika suatu website diakses
          dalam skala besar oleh para pengguna, website harus bisa meng-handle hal tersebut, dan tetap bisa diakses
          meskipun permintaan server yang begitu besar. Dalam pengerjaan Story ini, saya menggunakan Nginx, dan dalam
          website saya saat ini, saya akan menjelaskan bagaimana saya menggunakan Nginx.</p>
          <br>
        <h3> Langkah Langkah dalam Pengerjaan Story 10 </h3>
        <ul>
          <li> Hal pertama yang saya lakukan adalah mengunduh Nginx di <a href="http://www.nginx.org/en/download.html">
            www.nginx.org/en/download.html</a></li>
          <img src="{% static 'images/1.jpg' %}" alt="">
          <li> File tersebut akan berformat .zip, jadi kita harus meng-extract file tersebut. Setelah file di-extract,
            jalankan Command Prompt didalam folder yang di-extract. Jalankan perintah "<span id="command">start nginx</span>" </li>
          <li> Untuk melihat apakah Nginx berhasil dijalankan, buka Browser yang kita inginkan, dan masukkan URL "localhost"
           Bila pada halaman muncul seperti gambar dibawah ini, maka Nginx sudah berhasil dijalankan. </li>
          <img src="{% static 'images/2.jpg' %}" alt="">
          <li> Hal yang selanjutnya kita lakukan adalah konfigurasi Nginx itu sendiri. Dalam folder Nginx, terdapat folder
            yang bernama "conf". Disana, kita akan membuat file konfigurasi baru. Dalam tugas ini, saya menamainya "story10test.conf"</li>
          <img src="{% static 'images/3.jpg' %}" alt="">
          <li> Didalam file tersebut, saya tambahkan beberapa baris kode sebagai berikut. </li>
          <img src="{% static 'images/4.jpg' %}" alt="">
          <li> Yang saya tambahkan disitu adalah sebuah port-port server yang akan menerima request ketika membuka localhost itu sendiri.
           Dan apa saja yang akan dibuka oleh port-port server tersebut bila diakses. </li>
          <li>Setelah menambahkan file tersebut, kita harus menambahkan kode dalam file nginx.conf. Line yang ditambahkan adalah
            <br>"<span id="command">include -nama_file_konfigurasi-.conf</span>" seperti pada gambar dibawah ini.</li>
          <img src="{% static 'images/5.jpg' %}" alt="">
          <li> Bila semua proses diatas sudah selesai, maka apabila dijalankan runserver pada port yang sudah didaftarkan pada konfigurasi
            Django akan menjalankan halaman-halaman yang sama, meskipun pada port server yang berbeda.</li>
        </ul>
        <br>

        <p> Demikian panduan dari saya mengenai cara menggunakan Nginx dalam pengerjaan Story 10 kali ini. Semoga bisa membantu dan membuka
          wawasan kita semua. Terima kasih.</p>
      </div>
    </div>
  </body>
</html>
